@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
}

<h1>Role Manager</h1>

@if (Model.Any())
{
    <a asp-action="CreateRole" asp-controller="Admin" class="frm-button material-button medium" type="button">
        Add New Role
    </a>

    foreach (var role in Model)
    {

        <!-- card start -->
        <article class="article-wrapper pb-0 mb-0">
            <div class="article-content">
                <div class="article-inner">

                    <div>
                        <div class="columns column-2">&nbsp;</div>

                        <!-- author item start -->
                        <div class="author-item">
                            <div class="author-image">
                            </div>
                            <div class="author-info text-center pr-0">
                                <h4><span class="author-name">@role.Name</span></h4>
                                <div class="author-description pb-0">
                                    Role Id: @role.Id
                                </div>
                                <br />
                                <div class="author-extras">

                                    <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">


                                        <a asp-action="EditRole" asp-controller="Admin" asp-route-id="@role.Id" class="frm-button material-button medium">Edit</a>

                                        <span id="confirmDeleteSpan_@role.Id" style="display:none">
                                            <span>&nbsp; Are you sure you want to delete?&nbsp;</span>
                                            <button type="submit" class="frm-button material-button medium">Yes</button>
                                            <a href="#" class="frm-button material-button medium"
                                               onclick="confirmDelete('@role.Id', false)">No</a>
                                        </span>

                                        <span id="deleteSpan_@role.Id">
                                            <a href="#" class="frm-button material-button medium"
                                               onclick="confirmDelete('@role.Id', true)">Delete</a>
                                        </span>

                                    </form>
                                </div>
                            </div>
                            <div class="author-image">
                            </div>
                        </div>
                    </div>
                    <div class="columns column-2">&nbsp;</div>

                </div>

                <!--this is important for the left ad box or share box fixer -->
                <div id="endOfTheArticle"></div>


            </div>
        </article>
        <!-- card end -->
    }
}
else
{
    <!-- article body start -->
    <br />
    <br />
    <article class="article-wrapper">
        <div class="article-content">
            <div class="article-inner">

                <div>
                    <div class="col-2">&nbsp;</div>
                    <div class="col-2">
                        <div class="author-list">

                            <!-- start -->
                            <div class="author-item">
                                <div class="author-image">
                                </div>
                                <div class="author-info text-center pr-0">
                                    <h4>No Roles Created Yet</h4>
                                    <hr />
                                    <div class="author-description">
                                        <div class="frm-row">
                                            <a asp-action="CreateRole" asp-controller="Admin" class="frm-button material-button medium" type="button">Create Role</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author-image">
                                </div>
                            </div>
                            <!-- end -->



                        </div>
                    </div>
                    <div class="col-2">&nbsp;</div>

                </div>

                <!--this is important for the left ad box or share box fixer -->
                <div id="endOfTheArticle"></div>


            </div>
        </div>
    </article>
    <!-- article body end -->


}
