@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
}

<h1>Role Manager</h1>

@if (Model.Any())
{
    <a asp-action="CreateRole" asp-controller="Admin" class="frm-button btn btn-primary" type="button">
        Add New Role
    </a>

    foreach (var role in Model)
    {


                    <div>
                        <div class="columns column-2">&nbsp;</div>

                        <!-- author item start -->
                        <div class="author-item">
                            <div class="author-image">
                            </div>
                            <div class="author-info text-center pr-0">
                                <h4><span class="author-name">@role.Name</span></h4>
                                <div class="author-description pb-0">
                                    Role Id: @role.Id
                                </div>
                                <br />
                                <div class="author-extras">

                                    <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">


                                        <a asp-action="EditRole" asp-controller="Admin" asp-route-id="@role.Id" class="frm-button btn btn-outline-info">Edit</a>

                                        <span id="confirmDeleteSpan_@role.Id" style="display:none">
                                            <span>&nbsp; Are you sure you want to delete?&nbsp;</span>
                                            <button type="submit" class="frm-button btn btn-outline-info">Yes</button>
                                            <a href="#" class="frm-button btn btn-outline-warning"
                                               onclick="confirmDelete('@role.Id', false)">No</a>
                                        </span>

                                        <span id="deleteSpan_@role.Id">
                                            <a href="#" class="frm-button btn btn-outline-danger"
                                               onclick="confirmDelete('@role.Id', true)">Delete</a>
                                        </span>

                                    </form>
                                </div>
                            </div>
                            <div class="author-image">
                            </div>
                        </div>
                    </div>
                    <div class="columns column-2">&nbsp;</div>

        
    }
}
else
{
    <br />
    <br />
 
            <div class="article-inner">

                <div>
                    <div class="col-2">&nbsp;</div>
                    <div class="col-10">
                        <div class="author-list">

                            <!-- start -->
                            <div class="author-item">
                                <div class="author-image">
                                </div>
                                <div class="author-info text-center pr-0">
                                    <h4>No Roles Created Yet</h4>
                                    <hr />
                                    <div class="author-description">
                                        <div class="frm-row">
                                            <a asp-action="CreateRole" asp-controller="Admin" class="frm-button btn btn-primary" type="button">Create Role</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author-image">
                                </div>
                            </div>
                            <!-- end -->



                        </div>
                    </div>
                    <div class="col-2">&nbsp;</div>

                </div>



            </div>



}

<script>function confirmDelete(uniqueId, isTrue) {

        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isTrue) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }</script>